{% extends "base.html" %}
{% block mycss %}
{% load static %}
  <link href="{% static 'users/style.css' %}" rel="stylesheet"/>
{% endblock mycss %}
{% load crispy_forms_tags %}
{% block main %}
      <!-- FORM HERE -->
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="media">
        <img class="account-img" src="{{ user.image.url }}">
        <div class="media-body">
          <h2 class="alum"> <p>&nbsp;</p>{{user.first_name}} {{user.last_name}} </h2>
          <p class="em"> {{user.email}} </p>
        </div>
      </div>
        <fieldset class="form-group">
        <legend class="border-bottom mb-4">Profile</legend>
          {{ u_form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
      </form>
    </div>
{% endblock main %}
