{% extends "base.html" %}
{% block mycss %}
{% load static %}
  <link href="{% static 'users/style.css' %}" rel="stylesheet"/>
  <style>
  .letter{
    display: inline-block;
    font-weight: 900;
    font-size: 3vmax;
    margin-right: 0em;
    margin-top: 0.2em;
    position: relative;
    color: #00B4F1;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
  }
  .letter:before, .letter:after{
    position:absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top:0;
    left:0;
  }
  .letter, .letter:before, .letter:after{
    transition: all 0.3s ease-in-out;
  }
  .letter:before{
    color: #003499;
    text-shadow:
      -1px 0px 1px rgba(255,255,255,.8),
      1px 0px 1px rgba(0,0,0,.8);
    z-index: 3;
    transform:
      rotateX(0deg)
      rotateY(-15deg)
      rotateZ(0deg);
  }
  .letter:after{
    color: rgba(0,0,0,.11);
    z-index:2;
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(0deg)
      rotateZ(0deg)
      skew(0deg,1deg);
  }
  .letter:hover:before{
    color: #fafafa;
    transform:
      rotateX(0deg)
      rotateY(-40deg)
      rotateZ(0deg);
  }
  .letter:hover:after{
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(40deg)
      rotateZ(0deg)
      skew(0deg,22deg);
  }
  .backback {
  background-image: url(/static/home/images/background_alum.jpg);
  opacity: 0.8;
  background-size: 100% 100%;
}
  </style>


{% endblock mycss %}
{% load crispy_forms_tags %}
{% block main %}
<!-- <center> -->
<div class="backback">
<!-- <div class="first image1" style="background-image: url(/static/home/images/Alumni.jpg)"> -->
  <div class="content-section">
    <form method="POST" enctype="multipart/form-data" >
      {% csrf_token %}
      <fieldset class="form-group">
        <br>
        <div class="letter" data-letter="L">L</div>
    		<div class="letter" data-letter="o">o</div>
    		<div class="letter" data-letter="g">g</div>
    		<div class="letter" data-letter=" "> </div>
    		<div class="letter" data-letter="I">I</div>
    		<div class="letter" data-letter="n">n</div>
  			<div class="yline"></div>
        <br>
        <!-- <p>This page is aimed to connect us with all Alumni of CSE Department.</p> -->
        <p> &nbsp; </p>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Login</button>
      </div>
    </form>
    <div class="border-top pt-3">
      <div class="text-muted">
        Need An Account? <a class="ml-2" href="/register/">Sign Up Now</a>
      </div>
    </div>
  </div>
<!-- </center> -->
<div class="col-xs-12 col-sm-6 col-md-4">
</div>
{% endblock main %}
