{% extends "base.html" %}
{% block mycss %}
{% load static %}
  <link href="{% static 'users/style.css' %}" rel="stylesheet"/>
{% endblock mycss %}
{% load crispy_forms_tags %}
{% block main %}
<!-- <center> -->
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <br>
        <h1 class="h1">Log In</h1>
  			<div class="yline"></div>
        <!-- <p>This page is aimed to connect us with all Alumni of CSE Department.</p> -->
        <p> &nbsp; </p>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Login</button>
      </div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
      </small>
    </div>
  </div>
<!-- </center> -->
<div class="col-xs-12 col-sm-6 col-md-4">
{% endblock main %}
