{% extends "base.html" %}
{% block mycss %}
{% load static %}
  <link href="/cseweb/csea{% static 'users/style.css' %}" rel="stylesheet"/>
  <style>
  .backback {
  background-image: url(/cseweb/csea/static/home/images/background_alum.jpg);
  opacity: 0.8;
  background-size: 100% 100%;

}
  </style>
{% endblock mycss %}
{% load crispy_forms_tags %}
{% block main %}
<div class="backback">
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Sign Up</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Sign Up</button>
      </div>
    </form>
    <div class="border-top pt-3">
      <div class="text-muted">
        Already Have An Account? <a class="ml-2" href="/cseweb/csea/login/">Sign In</a>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
