{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CSEA, IITG</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'home/style.css' %}" >

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
	<div class="container-fluid">
		<a href="" class="navbar-brand" href="#"><img src="https://scontent.fdel29-1.fna.fbcdn.net/v/t1.15752-9/71388282_708898562909823_4142477991143800832_n.png?_nc_cat=100&_nc_oc=AQnRr6U3vzcFTwA_5H59_5pyeOGzbWpW9sF4onU0cvh4gtAaa2P6OEmMmx5c2lF4Hqo&_nc_ht=scontent.fdel29-1.fna&oh=dc6dce1e64abdae162dd4594dae1f988&oe=5E38AC2A" alt="Computer"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item {% block home %}{% endblock %}">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item {% block team %}{% endblock %}">
					<a class="nav-link" href="/members">Team</a>
				</li>
				<li class="nav-item {% block event %}{% endblock %}">
					<a class="nav-link" href="/events">Events</a>
				</li>

				<li class="nav-item {% block calendar %}{% endblock %}">
					<a class="nav-link" href="#">Event Calender</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!--- Image Slider -->

<div class="container">
  <h2>At CSEA</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://scontent.fdel29-1.fna.fbcdn.net/v/t1.0-9/43426711_1880245022041462_8211652401057234944_o.jpg?_nc_cat=102&_nc_oc=AQnvB9dKileUaVwu_fCqDyHmzPp4ekGHyPSFyIZX-FYvkPCViQab8AtCaFGc5scuAjY&_nc_ht=scontent.fdel29-1.fna&oh=a90ecbfd39305d294f1900a30415de24&oe=5E27F03C" alt="First Slide">
        </div>
        <div class="carousel-item">
            <img src="https://scontent.fdel29-1.fna.fbcdn.net/v/t1.0-9/39989111_1826464207419544_6805540371032965120_n.jpg?_nc_cat=107&_nc_oc=AQl4WEJG5OE-N1gRWmqtAl40Dm4_z64CcVyFoLgrogsoh3epDdHOrayHY7hVSySm9io&_nc_ht=scontent.fdel29-1.fna&oh=735a886871002265c1ef56c5b4b8c0c8&oe=5E3BD469" alt="Second Slide">
        </div>
        <div class="carousel-item">
            <img src="https://scontent.fdel29-1.fna.fbcdn.net/v/t1.0-9/39989082_1826463637419601_6340366692429856768_n.jpg?_nc_cat=110&_nc_oc=AQmQV0jlgMuir8o90K841ZPeivUcB1qiAmV4h5r_-Xrr5xXl-TMt9KyS1nUqh7x6OU0&_nc_ht=scontent.fdel29-1.fna&oh=003b6e21c152920cfaaff70a8c52d4d5&oe=5DF17AE9" alt="Third Slide">
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <i class="fas fa-angle-left"></i>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <i class="fas fa-angle-right"></i>
    </a>
</div>

</div>
<!--- Jumbotron -->


<!--- Welcome Section -->


<!--- Three Column Section -->


<!--- Two Column Section -->


<!--- Fixed background -->


<!--- Emoji Section -->


<!--- Meet the team -->


<!--- Cards -->


<!--- Two Column Section -->


<!--- Connect -->
&nbsp;

<!--- Footer -->
<footer id="footer" class="footer-1">
<div class="main-footer widgets-dark typo-light">
<div class="container">
<div class="row">

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="widget subscribe no-box">
<h5 class="widget-title">CSEA<span></span></h5>
<p>The Computer Science and Engineering Association is a student body under the guidance of Professors which works for the welfare of students of CSE department</p>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-4">
<div class="widget no-box">
<h5 class="widget-title">Quick Links<span></span></h5>
<ul class="thumbnail-widget">
<li>
<div class="thumb-content"><a href="#.">Home</a></div>
</li>
<li>
<div class="thumb-content"><a href="#.">Events</a></div>
</li>
<li>
<div class="thumb-content"><a href="#.">Upcoming Events</a></div>
</li>
<li>
<div class="thumb-content"><a href="#.">Event Calender</a></div>
</li>
<li>
<div class="thumb-content"><a href="#.">Team</a></div>
</li>
<li>
<div class="thumb-content"><a href="#.">Developers</a></div>
</li>

</ul>
</div>
</div>


<div class="col-xs-12 col-sm-6 col-md-4">

<div class="widget no-box">
<h5 class="widget-title">Contact Us<span></span></h5>

<p><a href="mailto:csea@iitg.ac.in" title="glorythemes">csea@iitg.ac.in</a></p>
<ul class="social-footer2">

<li class=""><a href="https://www.facebook.com/iitgcsea/" target="_blank" title="Facebook"><i class="fab fa-facebook" aria-hidden="true"></i> &nbsp;CSEA, IIT Guwahati</a></li>
<li class=""><a href="https://medium.com/@csea.iitg" target="_blank" title="Medium"><i class="fab fa-medium"></i> &nbsp;CSEA IITG</a></li>
<!-- <li class=""><a href="https://twitter.com" target="_blank" title="Twitter"><img alt="Twitter" width="30" height="30" src=""></a></li>
<li class=""><a title="instagram" target="_blank" href="https://www.instagram.com/"><img alt="instagram" width="30" height="30" src=""></a></li> -->
</ul>
</div>
</div>

</div>
</div>
</div>

<div class="footer-copyright">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<p>Copyright CSEA © 2019. All rights reserved.</p>
</div>
</div>
</div>
</div>
</footer>



</body>
</html>
